<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nama Lengkap</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a class="header-logo" href="/" >Back</a>
    </header>
    <h1>Halo, nama lengkap saya adalah Kevin.</h1>
  </body>
</html>
