<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NPM</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">Tugas Minggu ke 3</h2>
        <h1 class="title">NPM</h1>
        <p class="description">
          Membuat atau memanggil Nama sendiri, saat di klik
        </p>
        <a class="index-button" href="/kevin" >Klik Kevin</a>
      </div>
      <div class="top-image">
        <img src="/images/top.png">
      </div>
    </div>
  </body>
</html>
